@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

.section-wrapper{
	max-width: 1000px;
	margin: auto;
}

.navbar{
	padding-top: 0;
}

.navbar li.nav-item.active{
	border-top: 3px solid #fff;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link{
	color: rgba(255, 255, 255, 0.7);
	font-family: OpenSans;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: normal;
	text-align: left;
}

.navbar-light .navbar-nav .nav-link{
	margin: 0 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #fff;
}

nav.navbar{
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.company-logo{
	width: 50px;
}

footer{
	height: 341px;
  	background-color: #2a6496;
  	padding: 60px 0;
  	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	font-family: OpenSans;
	text-align: left;
}

footer strong{
	font-size: 24px;
	font-weight: bold;
	line-height: 0.92;
	letter-spacing: normal;
	color: #ffffff;
}

footer ul{
	margin: 18px 0 0 0;
	padding: 0;
}

footer ul li{
	list-style: none;
}

footer ul li a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
	font-family: OpenSans;
	font-size: 14px;
	line-height: 2.14;
	letter-spacing: 0.4px;
	padding: 10px 0;
}

footer ul li a:hover{
	color: #fff;
	text-decoration: none;
}

footer p{
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.4px;
	color: rgba(255, 255, 255, 0.7);
}

footer .social-media{
	margin-right: 100px;
}